body{
    display: flex;
}





@media (max-width:992px){
    .header__developer{
        font-size: 18px;
        width: 102px;
    }
    .header__link{
        font-size: 18px;
    }
    .header__navigation{
        margin-left: 215px;
    }
    .header__tittle{
        font-size: 70px;
    }
    .header__subtittle{
        font-size: 20px;
    }
    .header__button{
        width: 243px;
        height: 62px;
        font-size: 18px;
        padding: 14px 20px 14px 56px;
    }
    .header__button_tg{
        width: 237px;
        padding: 15px 20px 13px;
    }
    .button__tgtext{
        width: 220px;
    }
    .header__imgstart img{
        top:-1px; 
        left: 20px;
    }
    .sites__button{
        font-size: 20px;
    }
    .me__tittle{
        font-size: 50px;
    }
    .me__bio{
        width: 500px;
        font-size: 20px;
        height: auto;
    }
    .me__stat{
        font-size: 20px;
        width:120px;
    }
    .me_numbers{
        font-size: 26px;
    }

    .services__tittle{
        font-size: 50px;
    }
    .services__articles{

    }
    .services__article{
        width: 430px;
        height: 450px;
    }
    .services__articles hr{
        opacity: 0.5;
        margin-top: 60px;
    }
    .services__article_order{
        font-size: 16px;
    }
    .services__article_tittle{
        font-size: 24px;
    }
    .services__article_text{
        font-size: 20px;
        margin-top: 8px;
    }
    .services__article_price{
        font-size: 28px;
        margin-top: 60px;
    }
    .count{
        margin-top: 100px;
    }
    .count__tittle{
        font-size:  52px;
    }
    .count__inputs{
        width: 538px;
        height: 442px;
    }
    .count__input select{
        width: 480px;
        height: 58px;
        background-position-x: 449px;
        font-size: 20px;
    }
    .count__input_confirm{
        width: 436px;
        height: 58px;
    }
    .count__input_checkbox{
        width: 20px;
        height: 20px;
    }
    .count__input_checkbox_text{
        width: 397px;
        height: 58px;
        font-size: 20px;
    }
    .count__buttons{
        width: 480px;
        height: 67px;
    }
    .count__button{
        font-size: 20px;
    }
    .count__result{
        height: 410px;
        width: 480px;
    }
    .count__result_tittle{
        font-size: 36px;
    }
    .count__result_price{
        margin-top: 24px;
        font-size: 20px;
    }
    .count__result_price span{
        font-size: 24px;
    }
    .count__result_time{
        margin-top: 24px;
        font-size: 20px;
    }
    .count__result_time span{
        font-size: 24px;
    }
    .count__result_discuss{
        margin-top: 48px;
        width: 422px;
        height: 67px;
    }
    .count__result_button{
        font-size: 20px;
    }
    .questions{
        padding-bottom: auto;
    }
    .questions__tittle{
        font-size: 52px;
    }
    .questions__answers{
        gap: 20px;
    }
    .questions__answer{
        font-size: 24px;
    }
    .questions__answer_symb::before{
        font-size: 24px;
    }
    .questions__answer_ans{
        font-size: 20px;
    }
    .request__tittle{
        font-size: 52px;
    }
    .request__subtittle{
        margin-top: 12px;
        font-size: 24px;
    }
    .request__menu{
        width: 538px;
        height: 662px;
    }
    .request__menu_inputs{
        gap: 28px;
    }
    .request__menu_input{
        width: 480px;
        height: 58px;
    }
    .request__menu_input ::placeholder{
        font-size: 20px;
    }
    .request__menu_input input{
        font-size: 20px;
    }
    .request__menu_textarea {
        width: 480px;
        height: 192px;
    }
    .request__menu_textarea ::placeholder{
        font-size: 20px;
    }
    .request__menu_textarea textarea{
        font-size: 20px;
    }
    .request__menu_send{
        width: 485px;
        height: 67px;

    }
    .request__imgs_social{
        top: 180px;
        right:400px;
    }
    .social_img{
        width: 48px;
        height: 48px;
    }
}


@media (max-width:768px){

    .wrapper{
        max-width: auto;
    }
    .header__imgman {
        display: none;
    }
    .header__imgmessage {
        display: none;
    }
    .header__imglight {
        display: none;
    }
    .header__logo{
        margin-left: 40px;
        margin-top: 60px;
        border: 4px solid #000000;
        border-radius: 16px;

    }
    .header__developer{
        font-size: 34px;
        width: auto;
        padding: 14px 18px;
    }
    .header__link{
        font-size: 34px;
    }
    .header__navigation{
        margin-top: 16px;
        margin-left: 85px;
    }
    .header__info{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__tittle{
        font-size: 100px;
        line-height: 100px;
    }
    .header__subtittle{
        font-size: 40px;
        line-height: 50px;
    }
    .header__button{
        width: 420px;
        height: 70px;
        font-size: 34px;
        padding: 18px 20px 14px 82px;
        border-radius: 16px;
    }
    .header__button_tg{
        width: 410px;
        padding: 17px 27px 15px;
    }
    .button__tgtext{
        width: auto;
    }
    .header__imgstart{
        width: 40px;
        height: 40px;
        left: 450px;
        top: 14px;

    }
    .header__imgstart img{
 
        width: 40px;
        height: 40px;
        left: 4px;
        top: -2px;
    }
    
    .sites__button{
        font-size: 40px;
        padding: 20px 20px;
    }
    .site__photo_secondrow{
        flex-direction: column;
        display: flex;
        gap: 40px;
    }
    .site__photo_firstrow img{
        border-radius: 40px;
        width: 1140px;
        height: auto;
    }
    .site__photo_secondrow img{
        border-radius: 40px;
        width: 1140px;
        height: auto;
    } 
    .site__photo_thirdrow img{
        border-radius: 40px;
        width: 1140px;
        height: auto;
    } 
    .site__photo_fourthrow{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .site__photo_fourthrow img{
        border-radius: 40px;
        width:1140px;
        height: auto;
    }
    .me__imgcup {  
        display: none;
    }
    .count__imgs_man {
        display: none;
    }

    .count__imgs_clock {
        display: none;
    }
    .request__imgs_man{
        display: none;
    }
    .request__imgs_light{
        display: none;
        
    }
    .request__imgs_message{
        display: none;
    }





    .me__imgs{
        display:flex;
        order: 0;
        cursor: pointer;
        margin-left: 150px;
    
    }
    .me__img_front img{
        width: auto;
        height: 960px;    /* че та ему не нравится */
        border-radius: 24px;   
    }
    .me__img_back{
        position: absolute;
        left: 150px; /* сейм */
    }

    .me__tittle{
        font-size: 60px;
        line-height: 100px;
        padding-top: 0;
        
    }
    .me__bio{
        width: auto;
        font-size: 40px;
        height: auto;
        line-height: 40px;
        margin-right: 40px;
    }
    .me__stat{
        font-size: 40px;
        width:auto;
        line-height: 40px;
    }
    .me_numbers{
        font-size: 40px;
    }

    .services{
        height: auto;
        
    }
    .services__tittle{
        font-size: 60px;
        margin-top: 120px;
    }
    .services__articles{
        flex-wrap: wrap;
        margin-bottom: 60px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .services__article {
        width: 550px;
        height: auto;

    }
    .services__articles hr{
        opacity: 1;
        margin-top: 60px;

    }
    .services__article_order{
        font-size: 32px;
    }
    .services__article_tittle{
        margin-top: 32px;
        font-size: 50px;
    }
    .services__article_text{
        font-size: 32px;
        margin-top: 40px;
        line-height: 32px;
        height: auto;
        width: 300px;
    }
    .services__article_price{
        font-size: 32px;
        margin-top: 32px;
        margin-bottom: 40px;
    }
    .count{
        margin-top: 100px;
    }
    .count__tittle{
        font-size: 60px;
    }
    .count__inputs{
        width: 800px;
        height: auto;
    }
    .count__input select{
        width: 730px;
        height: 100px;
        background-position-x: 699px;
        font-size: 32px;
        line-height: 32px;

    }
    .count__input_confirm{
        width: 730px;
        height: 100px;
        margin-top: 32px;
    }
    .count__input_checkbox{
        width: 40px;
        height: 40px;
        
    }
    .count__input_checkbox_text{
        width: 420px;
        height: 58px;
        font-size: 24px;
    }
    .count__buttons{
        width: 730px;
        height: 100px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .count__button{
        font-size: 32px;
        border: 8px solid #181818;
        border-radius: 16px;
    }
    .count__result{
        height: auto;
        width: 730px;
    }
    .count__result_tittle{
        margin-top: 48px;
        font-size: 60px;
    }
    .count__result_price{
        margin-top: 40px;
        font-size: 32px;
        line-height:40px;
    }
    .count__result_price span{
        font-size: 32px;
    }
    .count__result_time{
        line-height:40px;
        font-size: 32px;
    }
    .count__result_time span{
        font-size: 32px;
    }
    .count__result_discuss{
        margin-top: 64px;
        padding-left: 48px;
        width: 632px;
        height: 88px;
        margin-bottom: 48px;
    }
    .count__result_button{
        font-size: 32px;
        border: 8px solid #181818;
        border-radius: 16px;
    }
    .questions{
        padding-bottom: auto;
    }
    .questions__tittle{
        font-size: 60px;
    }
    .questions__answers{
        gap: 40px;
    }
    .questions__answer{
        font-size: 40px;
        
    }
    .questions__answer_symb::before{
        font-size: 40px;
    }
    .questions__answer_ans{
        font-size: 40px;
        line-height: 40px;
    }
    .request__tittle{
        font-size: 60px;
    }
    .request__subtittle{
        margin-top: 16px;
        font-size: 40px;
    }
    .request__menu{
        width: 800px;
        height: auto;
    }
    .request__menu_inputs{
        gap: 40px;
    }
    .request__menu_input{
        width: 730px;
        height: 100px;
    }
    .request__menu_input ::placeholder{
        font-size: 32px;
    }
    .request__menu_input input{
        font-size: 32px;
    }
    .request__menu_textarea {
        width: 730px;
        height: 192px;
    }
    .request__menu_textarea ::placeholder{
        font-size: 32px;
    }
    .request__menu_textarea textarea{
        font-size: 32px;
    }
    .request__menu_send{
        margin-top: 32px;
        margin-bottom: 40px;
        width: 730px;
        height: 80px;
        border: 8px solid #181818;
        border-radius: 16px;

    }
    .request__imgs_social{
        top: 180px;
        right:250px;
    }
    .social_img{
        width: 48px;
        height: 48px;
    }
}

@media (max-width:576px){

    .header__info{
        
        width: 85%;
    }
    .sites{
        width: 85%;
    }
    .me__imgs{
        display:flex;
        order: 0;
        cursor: pointer;
        margin-left: 10px;
    
    }
    .me__bio{
        width: 75%;
        font-size: 48px;
    }
    .me__imgs{
        height: 560px;
    }
    .me__statistic{
        align-items:flex-start;
        margin-left: -200px;
        margin-right: 200px;
    }
    .me__stat{
        width:auto;
    }
    .services__articles{
        flex-direction: column;
    }

    .services__article{
        width: 730px;
        height: auto;
    }
    .services__articles hr{
        opacity: 1;
        margin-top: 80px;

    }
    .services__article_order{
        font-size: 48px;
    }
    .services__article_tittle{
        margin-top: 48px;
        font-size: 48px;
    }
    .services__article_text{
        font-size: 48px;
        margin-top: 56px;
        line-height: 48px;
        height: auto;
        width: 500px;
    }
    .services__article_price{
        font-size: 48px;
        margin-top: 48px;
        margin-bottom: 56px;
    }
    .services__tittle{
        font-size: 80px;
        margin-top: 120px;
    }





    .questions{
        padding-left: 10px;
    }
    .questions__answers{

    }

}
