 .header__navigation ul li:hover {

    transform: translateY(10px);
    transition-duration: 0.8s;
}



.sites__button:hover{
    box-shadow: 1px 1px 1px black;

}
.sites__button:focus {
    background-color:black;
    background:#000000;
    color: #FFFFFF;
    font-weight: 500;
    bottom: 5px;


;
    /* background:skyblue;
    color:black; */
}  


.header__button:hover{
    box-shadow:1px 1px 1px black;
}
.me__img_back{
    position: absolute;
    width: 400px;
    left: 300px;
    height: 560px;  
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease;
    border-radius: 24px;
    border:1px solid black;
    background:rgb(223, 219, 219);
    transform: perspective(600px) rotateY(180deg);
    transition-duration: 1s;
    display: flex;
    justify-content: center;
}
.me__img_front{
    width: auto;
    height: auto;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform .7s ease;
    transform: perspective(600px) rotateY(0deg);
    transition-duration: 1s;

}
.me__img_front img{
    width: auto;
    height: 560px;    
    border-radius: 24px;  
}

.me__imgs:hover > .me__img_front{
    transform: perspective(600px) rotateY(-180deg);
    transition-duration: 1.5s;
}
.me__imgs:hover > .me__img_back{
    transform: perspective(600px) rotateY(0deg);
    transition-duration: 1.5s;
}

.back__content{

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    cursor:default;
}
.back__content h1{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bolder;
    font-size: 32px;
    line-height: 32px;
    color: #181818;
}
.back__content span{
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #181818;
}
.contacts{
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 200px;
    gap: 50px;
}
.contacts li{
    display: flex;
    width: 100%;
    gap: 40px;
    row-gap: 20px;
    justify-content: center;
}


.backgrounds{
    position:absolute;
    top:-10px;
    left: -10px;
    right: 0;
    width: auto;
    height: 86.5vh;
    overflow: hidden;
    display: flex;
    align-items:center;
    justify-content: center;
    background: #000200;
}

/* section .background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 5s ease-in-out infinite;
}
section .background_star1 {
    animation-delay: 0s;
    background:url(/src/img/star1.png);
}
section .background_star2 {
    animation-delay: 1s;
    background:url(/src/img/star2.png);
}
section .background_star3 {
    animation-delay: 0.4s;
    background:url(/src/img/star3.png);
}
section .background_star4 {
    animation-delay: 1.2s;
    background:url(/src/img/star4.png);
}
section .background_star5 {
    animation-delay: 0.8s;
    background:url(/src/img/star5.png);
}
section .background_star6 {
    animation-delay: 1.5s;
    background:url(/src/img/star6.png);
}

@keyframes animate{
    0%, 20%, 40%, 60%, 80%, 100%{
        opacity: 0;
    }
    10%, 30%, 50%, 70%, 90%{
        opacity: 1;
    }
} */


















