.wrapper{
    position: relative;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 160px;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:#000000;
}
li{
    list-style:none;
    text-decoration: none;  
}
.header{
    background-size: cover;
    
}
 
.header__logo{
    display: inline-flex;
    box-sizing: border-box;
    margin-left: 140px;
    margin-top: 38px;
    gap: 8px;
    border: 2px solid #000000;
    border-radius: 8px;
    /* border: 2px solid white; */
}
.header__developer{

    width: 93px;
    height: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 4px 8px;

    text-transform: uppercase;

    color: #000000;
    /* color: white; */

         
}
.header__navigation{
    display: inline-flex;
    margin-top: 2px;
    margin-left: 256px;
}
.header__links{
    display: inline-flex;   
    gap: 32px;
    padding: 0;
    margin: 0; 
}
.header__link{
    
    text-decoration:none;
    font-family:'Raleway';
    font-style:normal;
    font-weight:500;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 53px;
    height: 24px;
    color:black;
    /* color:white; */
}
.header__imgman{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1122px;
    top: 40px;
    background: #F1F1F1;        
    border-radius: 10000px;
    
}
.header__imgman img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
    font-weight: 500;
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    
}
.header__info{
    text-align: center;
}
.header__tittle{ 
    display: inline-flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    margin-top: 118px;
    margin-bottom: 0px;
    letter-spacing: -0.02em;
    color: #181818;
    /* color:white; */
}
.header__subtittle{
    
    display: flex;
    justify-content:center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 0px;
    color: black;
}
.header__imgmessage{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 209px;
    top: 362px;
    
    background: #F1F1F1;
    border-radius: 10000px;
}
.header__imgmessage img{
    
    position: absolute;
    width: 28px;
    height: 24px;
    left: 18px;
    top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}
.header__imglight{
    
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1171px;
    top: 410px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.header__imglight img{
    
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;    
    text-align: center;
}
.header__buttons{
    display:inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-top: 80px;
    position: relative;
}
.header__button{
    display: flex;
    flex-direction: row;
    padding: 15px 22px 17px 58px;
    gap: 12px;
    width: 221px;
    height: 56px;
    box-sizing: border-box;
    border: 2px solid #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;    
    flex: none;
    order: 1;
    flex-grow: 0;
    background:white;
    position: relative;

}
.header__button_tg{
    width: 215px;
    padding: 15px 22px 15px;
    background:#181818;
    gap:8px;
    /* border-color: #F1F1F1;  */
}
.button__tgtext{
    color: white;
    width: 167px;
    font-weight: 500;
    
}
.header__imgstart{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 255px;
    top: 16px;
    border: none;  
    box-sizing: border-box;
    
      
}
.header__imgstart img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: -2px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
