.main{
    display: flex;
    text-align: center;
    max-width: 1160px
}
.sites{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;   
    margin-top: 120px;
}
.sites__navigation{
    display: inline-flex;
    padding: 0px;
    gap: 17px;
    margin-top: 0;
}
.sites__button{
    font-family: 'Raleway';
    color: #181818;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border-radius: 10000px;
    padding: 2px 14px;
    background:white;   
    position: relative;
    
} 

 .site__photos{
    display: flex;
    flex-direction: column;
    padding-top: 44px;   
    align-items: center;
    justify-content: center;
    gap: 40px;      
}
.site__photo{
    display: flex;
}
.site__photo_secondrow{
    gap: 40px;
}
.site__photo_fourthrow{
    gap: 40px;
}
.site__photo_firstrow img{
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    width: 1160px;
    height: 460px;
}
.site__photo_secondrow img{
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    width: 560px;
    height: 400px;
} 
.site__photo_thirdrow img{
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    width: 1160px;
    height: 544px;
} 
.site__photo_fourthrow img{
    border-radius: 20px;
    border: 1px solid #DBDBDB;
    width: 560px;
    height: 460px;
}




.me{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 120px;
}
.me__text{
    order:1;
}
.me__imgs{
    display:flex;
    order: 0;
    cursor: pointer;
    margin-left: 300px;

}
.me__imgcup {  
    position: absolute;
    width: 100px;
    height: 100px;
    left: 227px;
    top: 3280px;    
    background: #F1F1F1;

    border-radius: 10000px;
}
.me__imgcup img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
}
.me__tittle{
    display: flex;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;    
    letter-spacing: -0.02em;
    color: #181818;
    padding-top: 80px;
    margin: 0;
}
.me__bio{
    padding-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #181818;
    width: 484px;
    height: 168px;
    text-align: left;         
}
.me__statistic{
    display: flex;
    padding-top: 64px;
    justify-content: flex-start;
    gap: 64px;   
}
.me__stat{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #181818;
    text-align: left;
    width:87px;
    margin: 0;
}
.me_numbers{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;    
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    margin: 0;
}




.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    align-items:center;
    height: 768px;
    background-color: #181818;
}
.services__tittle{
    padding-top: 0px;
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;   
    letter-spacing: -0.02em;
    color:white;
}
.services__articles{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    gap: 28px;
}
.services__articles p{
    margin-top: 0;
    margin-bottom: 0;
}
.services__articles hr {
    margin: 0;
    width: 80px;
    height: 0px;
    margin-left: 40px;
    margin-top: 56px;
    opacity: 0.2;
    background-color:#181818;
    border: 1px solid #181818;
}
.services__article{
    background: #FFFFFF;
    border-radius: 16px;
    width: 368px;
    height: 384px;
}
.services__article_order{
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #181818;
    opacity: 0.5;
}
.services__article_tittle{
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}
.services__article_tittle p{
    margin: 0;
    margin-top: 8px;
}
.services__article_text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 288px;
    height: 96px;
    margin-left: 40px;
    color: #181818;
    
}
.services__article_price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-left: 40px;
    margin-top: 56px;
    
    color: #181818;
}




.count{     
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 120px;
}
.count__tittle{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;    
    letter-spacing: -0.02em;
    
    color: #181818;
}
.count__inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    width: 448px;
    height: 368px;
    gap: 24px;
    box-sizing: border-box;
    padding: 40px 24px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}
.count__input{
    display:flex;
    /*width: 400px; */
}
.count__input select{
    display: flex;
    border-radius: 8px;
    appearance: none;
    padding-left: 16px;
    width: 400px;
    height: 48px;
    overflow: hidden;
    background: url(/src/img/222.png) no-repeat right; 
    background-position-x: 374px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;                    
}
.count__inputs p{
    margin-top: 0; margin-bottom: 0;}
.count__input_confirm{
    display: flex;
    width: 363px;
    height: 48px;
}
.count__input_checkbox{
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}
.count__input_checkbox_text{

    width: 331px;
    height: 48px;
    margin: 0;
    margin-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.count__buttons{
    display:flex;
    width: 400px;
    height: 56px;
    margin-top: 16px;
}
.count__button{
    width: 100%;
    justify-content: center;
    background-color:white;
    border: 2px solid #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    
}




.count__result{
    height: 384px;
    display:flex;
    width: 400px;
    flex-direction: column;
    align-items:flex-start;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;
    margin-top: -2px;
    z-index: -1;
}
.count__result_tittle{
    padding-left: 24px;
    margin: 0;
    margin-top: 34px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;
    
    color: #181818;

}
.count__result p{
    margin-top: 0; margin-bottom: 0;}

.count__result_price{
    padding-left: 24px;
    margin: 0;
    margin-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.count__result_price span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}
.count__result_time{
    padding-left: 24px;
    margin: 0;
    margin-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.count__result_time span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
}
.count__result_discuss{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    width: 352px;
    height: 56px;
    padding-left: 24px;

}
.count__result_button{
    width: 100%;
    background-color:#181818;
    border-radius: 8px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    color: #FFFFFF;
}
.count__imgs_man{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1206px;
    top: 4681px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.count__imgs_man img{
    position: absolute;
    width: 110px;
    height: 110px;
    left: 30px;
    top: 26px;
}
.count__imgs_clock{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 61px;
    top: 4562px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.count__imgs_clock img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
}




.questions{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 120px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 120px;
    background: #181818;
    
}
.questions__tittle{
    margin: 0;
    margin-top: 120px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}
.questions__answers{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    gap: 16px;
    
    width: 100%;
                
}
.questions__answers p{
    margin: 0;
}
.questions__answer{
    display: flex;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 32px 40px;
    background-color:white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}
.questions__answer_question{
    width: 1160px;
}
details{
    display: flex;
    width: 100%;
}
summary{
    display: flex;
    text-align: justify;
}
.questions__answer_symb::before{
    content: url(/src/img/Vector.png);
    
    border-radius: 1px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
details[open] .questions__answer_symb::before{
    content: url(/src/img/Vector.png);
    display: inline-block;
    transform: rotate(45deg);
    
}
.questions__answer_ans{
    margin-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}
.questions li{
    list-style:disc;
}




.request{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    align-items:center;
    position: relative;
}
.request__tittle{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    
    letter-spacing: -0.02em;
    
    color: #181818;
}
.request__subtittle{
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    
    
    color: #181818;
    
}
.request__menu{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    width: 448px;
    height: 552px;

}
.request__menu_inputs{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
    
    
}
.request__menu_input{
    width: 400px;
    height: 48px;
}
.request__menu_input ::placeholder{
    padding-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
.request__menu_input input{    
    font-family: 'Raleway';
    font-style: normal;
    font-weight:bolder;
    font-size: 16px;
    line-height: 24px;
    color:#181818;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
.request__menu_textarea {
    height: 160px;
}
.request__menu_textarea ::placeholder{
    padding-top: 12px;
    padding-left: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
.request__menu_textarea textarea{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    resize: none;
}
.request__menu_send{
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
    width: 400px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.request__imgs_social{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 16px;
    height: 104px;
    position: absolute;
    top: 168px;
    right:432px;
    
    
}
.social_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    width: 24px;
    height: 24px;
    border-radius: 8px;
}
.request__imgs_social img{
    background: #F9F9F9;
    
}
.request__imgs_man{
    position: absolute;
    width: 170px;
    height: 170px;
    right: 18px;
    top: 396px;
    background: #F1F1F1;
    border-radius: 10000px;
}
.request__imgs_man img{
    position: absolute;
    width: 110px;
    height: 110px;
    right: 30px;
    top: 26px;
}
.request__imgs_light{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 111px;
    top: 14px;
    background: #F1F1F1;
    border-radius: 10000px;
    
}
.request__imgs_light img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 34px;
}
.request__imgs_message{
    position: absolute;
    width: 140px;
    height: 140px;
    left: 250px;
    bottom: -44px;
    background: #F1F1F1;
    border-radius: 10000px; 
}
.request__imgs_message img{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 42px;
    top: 42px;
}
